@{
    ViewBag.Title = "SignUp | Trip Pakistan";
}

 <!-- ACCOUNT -->
<section class="section-account parallax bg-lg-4">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register">
            <div class="text text-center">
                <h2>REGISTER FORM</h2>
                <p class="lead">It's free and always will be.</p>
                <form action="#" class="account_form">
                    <div class="field-form">
                        <input type="text" class="field-text" placeholder="Full Name*">
                    </div>
                    <div class="field-form">
                        <input type="text" class="field-text" placeholder="Email*">
                    </div>
                    <div class="field-form">
                        <input type="password" class="field-text" placeholder="Password*">
                        <span class="view-pass"><i class="hillter-icon-view"></i></span>
                    </div>
                    <div class="field-form field-submit">
                        <button class="awe-btn awe-btn-13">REGISTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

