@{
    ViewBag.Title = "Home | Trip Pakistan";
}

  <!-- BANNER SLIDER -->
<section class="section-slider">

    <div class="banner-slider" id="banner-slider">
        <!-- ITEM -->
        <div class="slider-item text-center" data-image="/assets/images/slider/Badshahi%20Mosque.jpg">
            <div class="slider-text">
                <span class="slider-caption-sub slider-caption-sub-1">NEW TRIPS</span>
                <h2 class="slider-caption slider-caption-1">ARRIVALS</h2>
                <a href="#" class="awe-btn awe-btn-12 awe-btn-slider">VIEW NOW</a>
            </div>
        </div>
        <!-- ITEM -->
        <!-- ITEM -->
        <div class="slider-item text-center" data-image="/assets/images/slider/Faisal_Mosque-4.jpg">
            <div class="slider-text">
                <span class="slider-caption-sub slider-caption-sub-2">Explore BEAUTY OF PAKISTAN</span>
                <h2 class="slider-caption slider-caption-2">SAVE <small>UP<br />TO</small> 60%</h2>
                <a href="#" class="awe-btn awe-btn-default awe-btn-slider">VIEW NOW</a>
            </div>
        </div>
        <!-- ITEM -->
        <!-- ITEM -->
        <div class="slider-item text-center" data-image="/assets/images/slider/Minar-e-Pakistan-2.jpg">
            <div class="slider-text">
                <span class="slider-icon"><img src="/assets/images/icon-slider-1.png" alt=""></span><br>
                <span class="slider-caption-sub slider-caption-sub-3"><img src="/assets/images/icon-slider-4.png" alt=""> EACH HOTEL IS <img src="/assets/images/icon-slider-3.png" alt=""></span>
                <h2 class="slider-caption slider-caption-3">UNIQUE 60%</h2>
                <span class="slider-caption-sub slider-caption-sub-3">JUST LIKE YOU</span>
                <br>
                <span class="slider-icon"><img src="/assets/images/icon-slider-2.png" alt=""></span>
            </div>
        </div>
        <!-- ITEM -->

    </div>

</section>
<!-- END / BANNER SLIDER -->



<!-- CHECK AVAILABILITY -->
<section class="section-check-availability">
    <div class="container">
        <div class="check-availability">
            <div class="row">
                <div class="col-lg-3">
                    <h2>CHECK AVAILABILITY</h2>
                </div>
                <div class="col-lg-9">
                    <form id="ajax-form-search-room" action="#" method="post">
                        <div class="availability-form">
                            <input type="text" name="arrive" class="awe-calendar from" placeholder="Arrival Date">
                            <input type="text" name="departure" class="awe-calendar to" placeholder="Departure Date">

                            <select class="awe-select" name="adults">
                                <option>Adults</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <select class="awe-select" name="children">
                                <option>Children</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            <div class="vailability-submit">
                                <button class="awe-btn awe-btn-13">FIND THE BEST RATE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / CHECK AVAILABILITY -->

    <!-- ACCOMMODATIONS -->
<section class="section-accommo_1 bg-white">
    <div class="container">

        <div class="accomd-modations_1">

            <h2 class="heading">Best Packages</h2>

            <div class="accomd-modations-content_1">

                <div class="accomd-modations-slide_1">
                    @for (int i = 0; i < 5; i++) { 
                    <!-- ITEM -->
                    <div class="accomd-modations-room_1">
                        
                        <div class="img">
                            <a href="#"><img src="~/assets/images/about/Pakistan-Monument.jpg" /></a>
                        </div>

                        <div class="text">
                            <h2><a href="#">Walled City Of Lahore</a></h2>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. estibulum nec semper lectus. Suspendisse placerat enim mauris, eget lobortis nisi egestas et. Donec elementum metus et mi aliquam eleifend....</p>
                            <p class="price">
                                <span class="amout">3,200</span> /day
                            </p>
                            <a href="#" class="awe-btn awe-btn-default">VIEW DETAIL</a>
                        </div>

                    </div>
                    <!-- END / ITEM -->
                    }

                </div>

            </div>

        </div>

    </div>
</section>
<!-- ACCOMMODATIONS -->

   <!-- ABOUT -->
<section class="section-home-about bg-white">
    <div class="container">
        <div class="home-about">
            <div class="row">
                <div class="col-md-6">
                    <div class="img">
                        <img src="/assets/images/img-1(1).jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="text">
                        <h2 class="heading">ABOUT US</h2>
                        <span>Trip Pakistan newly established Travel and Tourism Company based in Lahore. We are offering travel services within Pakistan to eXplore Pakistan</span>
                        <p>Providing all kind of Travel Services, i.e. Domestic ticketing,Hotel Booking in all Cities of Pakistan from South to North of Pakistan. Pick and Drop from airports to Hotels and back to Airport in all cities of Pakistan. Sightseeing in all Cities with pick and drop facilities. </p>
                        <a href="/home/about" class="awe-btn awe-btn-default">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END / ABOUT -->



<!-- HOME NEW -->
<section class="section-event-news bg-white">
    <div class="container">

        <div class="event-news">
            <div class="row">

                <!-- EVENT -->
                <div class="col-md-6">
                    <div class="event">
                        <h2 class="heading">Tours &amp; Packages</h2>
                        <p>Best tour packages for best travellers.</p>

                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-xs-12 col-sm-12">
                                <div class="event-slide owl-single">

                                    <div class="event-item">
                                        <div class="img">
                                            <a href="#">
                                                <img src="/assets/images/img-1(2).jpg" alt="">
                                            </a>
                                        </div>
                                    </div>

                                    <div class="event-item">
                                        <div class="img">
                                            <a href="#">
                                                <img src="/assets/images/img-1(3).jpg" alt="">
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6">
                                <div class="event-item">
                                    <div class="img">
                                        <a href="#">
                                            <img src="https://placehold.it/150x100" alt="">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <div class="text-cn">
                                            <h2>SAVE THE DATE</h2>
                                            <span>BECCA &amp; ROBERT</span>
                                            <a href="#" class="awe-btn awe-btn-12">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6">
                                <div class="event-item">
                                    <div class="img">
                                        <a href="#">
                                            <img src="https://placehold.it/150x100" alt="">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <div class="text-cn">
                                            <h2>GO ON KARACHI BEACH. </h2>
                                            <a href="#" class="awe-btn awe-btn-12">VIEW MORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->

                        </div>
                    </div>
                </div>
                <!-- END / EVENT -->
                <!-- NEWS -->
                <div class="col-md-6">
                    <div class="news">
                        <h2 class="heading">Special</h2>
                        <p>Specail Featured Packages This Month</p>

                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-md-12">
                                <div class="news-item">
                                    <div class="img">
                                        <a href="#"><img src="https://placehold.it/150x100/" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <span class="date">21 / March</span>
                                        <h2><a href="#">UPDATE MENU FOOD IN HOTEL</a></h2>
                                        <a href="#" class="read-more">[ Read More ]</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-md-12">
                                <div class="news-item">
                                    <div class="img">
                                        <a href="#"><img src="https://placehold.it/150x100/" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <span class="date">8 / March</span>
                                        <h2><a href="#">WEDDING DAY JONATHA &amp; JESSICA</a></h2>
                                        <a href="" class="read-more">[ Read More ]</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-md-12">
                                <div class="news-item">
                                    <div class="img">
                                        <a href="#"><img src="https://placehold.it/150x100" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <span class="date">16 / February</span>
                                        <h2><a href="#">THE BEST WEDDING GUIDE 2015</a></h2>
                                        <a href="" class="read-more">[ Read More ]</a>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                        </div>
                        <a href="#" class="awe-btn awe-btn-default">VIEW MORE</a>
                    </div>
                </div>
                <!-- END / NEWS -->
            </div>
            <div class="hr"></div>
        </div>
    </div>
</section>
<!-- END / HOME NEW -->
    <!-- GALLERY -->
<section class="section_page-gallery">
    <div class="container">
        <div class="gallery gallery-3">
            <h2 class="text-center">Best Places</h2>
            <!-- FILTER -->
            <div class="gallery-cat text-center">
                <ul class="list-inline">
                    <li class="active"><a href="#" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".ground">Gilgit Baltistan</a></li>
                    <li><a href="#" data-filter=".suite">KPK</a></li>
                    <li><a href="#" data-filter=".bathroom">Sindh</a></li>
                    <li><a href="#" data-filter=".dining">Punjab</a></li>
                    <li><a href="#" data-filter=".balochistan">Balochistan</a></li>
                </ul>
            </div>
            <!-- END / FILTER -->
            <!-- GALLERY CONTENT -->
            <div class="gallery-content">
                <div class="row">
                    <div class="gallery-isotope col-4">
                        <!-- ITEM SIZE -->
                        <div class="item-size"></div>
                        <!-- END / ITEM SIZE -->              
                        <!-- ITEM -->
                        <div class="item-isotope larger suite bathroom dining">
                            <div class="gallery_item">
                                <a href="#">
                                    <img src="/assets/images/Places/img-1.jpg" alt="">
                                </a>
                            </div>
                       </div>                  
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope ground bathroom dining">
                            <div class="gallery_item">
                                <a href="#" class="mfp-image">
                                    <img src="/assets/images/Places/img-2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope ground suite dining">
                            <div class="gallery_item">
                                <a href="#" class="mfp-image">
                                    <img src="/assets/images/Places/img-3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope ground suite bathroom">
                            <div class="gallery_item">
                                <a href="#" class="mfp-image">
                                    <img src="/assets/images/Places/img-4.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="item-isotope suite bathroom dining">
                            <div class="gallery_item">
                                <a href="#" class="mfp-image">
                                    <img src="/assets/images/Places/img-5.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
            </div>
            <!-- GALLERY CONTENT -->
        </div>
    </div>
</section>
<!-- END / GALLERY -->
