@{
    ViewBag.Title = "PrivacyPolicy";
}

 <!-- SUB BANNER -->
<section class="section-sub-banner awe-parallax bg-2">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2>Privacy Policy</h2>
                <p></p>
            </div>
        </div>
    </div>
</section>
<!-- END / SUB BANNER -->
<!-- TERM CONDITION -->
<section class="section-term-condition bg-white">
    <div class="container">

        <div class="term-condition">
            <h3 class="text-uppercase">The standard Lorem Ipsum passage, used since the 1500s</h3>
            <br>

            <p>Welcome to the Terms &amp; Conditions of Use for this web site (the “Site”). Your use of the Site is subject to these Terms &amp; Conditions along with any specific terms and conditions set forth on the individual pages within this Site (collectively, the “Terms &amp; Conditions”) and all applicable laws and regulations, including those regarding copyright, trademark, and other intellectual property rights. Your submission of information on this Site is subject to Hyatt’s Global Privacy Policy for Guests (available at privacy.hyatt.com), which is hereby incorporated into these Terms &amp; Conditions.</p>
            <br>

            <h3 class="text-uppercase">USE OF COOKIES</h3>
            <br>
            <p>PLEASE NOTE: The Site uses various types of cookies to provide certain functionality on the Site. A cookie is a small text file that contains small amounts of information that are downloaded to your computer or mobile device when visit a web site. These cookies are then sent back to the originating web site when you visit that site again or to another site that recognizes that cookie. For further information on the cookies that are used on Hyatt.com, please visit the Hyatt’s Statement on the Use of Cookies (available at Cookie Statement).</p>
            <br>

            <h3 class="text-uppercase">USE OF THE SITE</h3>
            <h6>General / Ownership</h6>
            <p>Unless expressly stated otherwise, the content included on the Site, including but not limited to text, software, photographs, images, graphics, illustrations, artwork, video, music, sound, and names, logos, trademarks and service marks, are the property of Hyatt or its licensors or suppliers. This content is protected by copyright, trademark and other laws. No right, title, or interest to the content is granted by your use of the Site, other than a right to review the content using a conventional Internet browser to conduct ordinary web browsing. All other uses, including making copies of any content on the Site, are strictly prohibited. You may not modify, reproduce, retransmit, distribute, disseminate, sell, publish, broadcast or circulate any such material for any purpose other than personal, non-commercial use (or legitimate activities of a travel agent or travel professional) without Hyatt’s written permission. Except for non-commercial individual private use, the downloading, reproduction, or retransmission of the Site (or any part of its content) is strictly prohibited.</p>
            <br>

            <h6>Copyright</h6>
            <p>Unless otherwise noted, all content on this Site is the copyrighted property of Hyatt or its affiliates or licensors. All content of this Site is protected by United States copyright laws as well as the applicable laws of other jurisdictions.</p>
            <br>

            <h3>USE OF THE SITE</h3>
            <br>
            <h6>General</h6>
            <p>You may only use the services of this Site if you are at least 18 years of age and can form legally binding contracts under applicable law. The services of the Site are not intended for and should not be used by minors. Please note that additional terms and conditions may apply to reservations, purchases, transactions, uses, or activities that may occur on or through this Site. You agree to comply with these Terms &amp; Conditions and any such applicable additional terms and conditions.</p>
            <br>
            <h6>Notice and Procedures for Making Claims of Copyright Infringement</h6>
            <p>Hyatt respects the intellectual property rights of third parties. Hyatt responds to notices of alleged copyright infringement according to the Digital Millennium Copyright Act (“DMCA”) at 17 U.S.C. § 512 et seq. Regardless of whether or not Hyatt believes that it is liable for any copyright infringement for which we are provided notice, Hyatt’s response may include removing or disabling access to material claimed to be the subject of infringing activity and/or terminating an individual’s access to the Site, at Hyatt’s sole discretion and operating within the parameters of the DMCA.</p><br>

            <ul>
                <li>Praesent nec ipsum vestibulum, pulvinar eros a, pulvinar eros.</li>
                <li>Maecenas ut erat sed eros vehicula pharetra ut in est.</li>
                <li>Vivamus a leo a lectus feugiat rutrum.</li>
                <li>Cras ultrices metus eu maximus efficitur.</li>
                <li>Ut tempus ante nec condimentum ultricies.</li>
                <li>Morbi luctus turpis molestie elit fringilla aliquet vitae et magna.</li>
            </ul>

        </div>

    </div>
</section>
<!-- END / TERM CONDITION -->
