  <!-- ACCOMD ODATIONS -->
<section class="section-accomd awe-parallax bg-14">
    <div class="awe-overlay"></div>

    <div class="container">
        <div class="accomd-modations">
            <div class="row">
                <div class="col-md-3">
                    <div class="accomd-modations-header">
                        <h2 class="heading">ACCOM MODATIONS</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing</p>
                    </div>
                </div>
                <div class="col-md-8 col-md-offset-1">
                    <div class="accomd-modations-content owl-single">

                        <div class="row">
                            @for (int i = 0; i < 5; i++) {
                                <div class="col-xs-6">
                                    <div class="accomd-modations-room">
                                        <div class="img">
                                            <a href="#"><img src="http://placehold.it/350x200" alt=""></a>
                                        </div>
                                        <div class="text">
                                            <h2><a href="#">Luxury Room</a></h2>
                                            <p class="price">
                                                <span class="amout">$320</span>/days
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                            <!-- ITEM -->
                            <div class="col-xs-6">
                                <div class="accomd-modations-room">
                                    <div class="img">
                                        <a href="#"><img src="http://placehold.it/350x200" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <h2><a href="#">Luxury Room</a></h2>
                                        <p class="price">
                                            <span class="amout">$320</span>/days
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6">
                                <div class="accomd-modations-room">
                                    <div class="img">
                                        <a href="#"><img src="images/room/img-2.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <h2><a href="#">Family Room</a></h2>
                                        <p class="price">
                                            <span class="amout">$320</span>/days
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6">
                                <div class="accomd-modations-room">
                                    <div class="img">
                                        <a href="#"><img src="images/room/img-3.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <h2><a href="#">Couple Room</a></h2>
                                        <p class="price">
                                            <span class="amout">$320</span>/days
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6">
                                <div class="accomd-modations-room">
                                    <div class="img">
                                        <a href="#"><img src="images/room/img-4.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <h2><a href="#">Standard</a></h2>
                                        <p class="price">
                                            <span class="amout">$320</span>/day
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->

                        </div>

                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-xs-6">
                                <div class="accomd-modations-room">
                                    <div class="img">
                                        <a href="#"><img src="images/room/img-1.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <h2><a href="#">Luxury Room</a></h2>
                                        <p class="price">
                                            <span class="amout">$320</span>/days
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6">
                                <div class="accomd-modations-room">
                                    <div class="img">
                                        <a href="#"><img src="images/room/img-2.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <h2><a href="#">Family Room</a></h2>
                                        <p class="price">
                                            <span class="amout">$320</span>/days
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6">
                                <div class="accomd-modations-room">
                                    <div class="img">
                                        <a href="#"><img src="images/room/img-3.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <h2><a href="#">Couple Room</a></h2>
                                        <p class="price">
                                            <span class="amout">$320</span>/days
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6">
                                <div class="accomd-modations-room">
                                    <div class="img">
                                        <a href="#"><img src="images/room/img-4.jpg" alt=""></a>
                                    </div>
                                    <div class="text">
                                        <h2><a href="#">Standard</a></h2>
                                        <p class="price">
                                            <span class="amout">$320</span>/day
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- END / ACCOMD ODATIONS -->
