@{
    ViewBag.Title = "ChooseDate";
}


<!-- SUB BANNER -->
<section class="section-sub-banner awe-parallax bg-lg-4">

    <div class="awe-overlay"></div>

    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2>RESERVATION</h2>
                <p></p>
            </div>
        </div>

    </div>

</section>
<!-- END / SUB BANNER -->
<!-- RESERVATION -->
<section class="section-reservation-page bg-white">

    <div class="container">
        <div class="reservation-page">

            <!-- STEP -->
            <div class="reservation_step">
                <ul>
                    <li><a href="#"><span>1.</span>  Select</a></li>
                    <li class="active"><a href="/booking/chooseDate"><span>2.</span> Choose Data</a></li>
                    <li><a href="/booking/CustomerInfo"><span>3.</span> Make a Reservation</a></li>
                    <li ><a href="/booking/payment"><span>4.</span> Confirmation</a></li>
                </ul>
            </div>
            <!-- END / STEP -->

            <div class="row">
                <div class="text-cn text-center">
                    <h2>Please Choose the Date For Reservation</h2>
                    <br />

                    <form class="form bg-gray">
                        <input type="text" class="awe-calendar" placeholder="CheckIn Date">
                        <input type="text" class="awe-calendar" placeholder="CheckOut Date">
                        <br />
                        <br />
                        <div class="hr"></div>
                        <br />
                        <br />
                        <a href="#" class="awe-btn awe-btn-13">Goto Next Step</a>
                    </form>
                </div>
            </div>
        </div>
    </div>



</section>
<!-- END / RESERVATION -->
